ISP_speedtest_NR.json
[{"id":"a57ef29f.d943f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"99d7fc95.2c838","type":"speedtest","z":"a57ef29f.d943f","name":"","maxTime":5000,"x":300,"y":100,"wires":[["ddfbc768.be5988","5a2ffa3b.429574"]]},{"id":"5c5c6b49.bffae4","type":"inject","z":"a57ef29f.d943f","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["99d7fc95.2c838"]]},{"id":"9bd61bb9.49e6f8","type":"debug","z":"a57ef29f.d943f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":60,"wires":[]},{"id":"c5300ce4.4dfac","type":"ui_chart","z":"a57ef29f.d943f","name":"","group":"91b79613.d028","order":1,"width":"12","height":"6","label":"Broadband Speed","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2600","#00f900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":100,"wires":[[],[]],"outputLabels":["Snitt vind","Vind byar"]},{"id":"ddfbc768.be5988","type":"function","z":"a57ef29f.d943f","name":"Get speed Down/Up","func":"\nvar msg0 = {};\nmsg0.payload = msg.payload.speeds.download;\nmsg0.topic = \"Speed download\";\n\nvar msg1 = {};\nmsg1.payload = msg.payload.speeds.upload;\nmsg1.topic = \"Speed upload\";\n\nreturn [msg0, msg1];","outputs":2,"noerr":0,"x":500,"y":100,"wires":[["c5300ce4.4dfac","9bd61bb9.49e6f8","234101c7.458c3e"],["c5300ce4.4dfac"]]},{"id":"a35be8e0.d65818","type":"debug","z":"a57ef29f.d943f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":180,"wires":[]},{"id":"234101c7.458c3e","type":"function","z":"a57ef29f.d943f","name":"If speed below X Mbps => send mail","func":"\nif (msg.payload <= 10){\n    var speed = msg.payload\n    msg = {};\n    msg.topic = \"Broadband download speed\";\n    msg.payload = (\"Warning ! The download speed have been below 10 Mbps. Now \" + speed + \" Mbps\");\n    return msg;\n}\nelse {return null}\n\n","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["5c88acc3.afe204","a35be8e0.d65818"]]},{"id":"5c88acc3.afe204","type":"e-mail","z":"a57ef29f.d943f","server":"smtp.gmail.com","port":"465","secure":true,"name":"xxx.yyy@icloud.com","dname":"Mail ","x":730,"y":140,"wires":[]},{"id":"5a2ffa3b.429574","type":"debug","z":"a57ef29f.d943f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":60,"wires":[]},{"id":"91b79613.d028","type":"ui_group","z":"","name":"Speed","tab":"3e69db85.60f7cc","order":1,"disp":false,"width":"12","collapse":false},{"id":"3e69db85.60f7cc","type":"ui_tab","z":"","name":"Broadband","icon":"dashboard","order":3}]